<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Consultation compte</div>
            <div class="panel-body">
                <form th:action="@{/consulterCompte}" method="get">
                    <div>
                        <label>Code compte</label>
                        <input type="text" name="codeCompte">
                        <button type="submit" class="btn btn-primary">chercher</button>
                    </div>
                </form>
            </div>

        </div>
        <div class="panel panel-primary" th:if="${compte}">
            <div class="panel-heading">Information sur le compte</div>
            <div class="panel-body">
                <div>
                    <label>Client:</label>
                    <label th:text="${compte.client.nom}"></label>
                </div>
                <div>
                    <label>solde:</label>
                    <label th:text="${compte.solde}"></label>
                </div>
                <div>
                    <label>date:</label>
                    <label th:text="${compte.dateCreation}"></label>
                </div>
                <div>
                    <label>type du compte:</label>
                    <label th:text="${compte.class.simpleName}"></label>
                </div>
                <div th:if="${compte.class.simpleName=='CompteCourant'}">
                    <label>Decouvert:</label>
                    <label th:text="${compte.decouvert}"></label>
                </div>
                <div th:if="${compte.class.simpleName=='CompteEpargne'}">
                    <label>Taux:</label>
                    <label th:text="${compte.taux}"></label>
                </div>
            </div>
        </div>
        <div class="panel panel-primary" th:if="${exception}">
            <div class="panel-heading">Exception</div>
            <div class="panel-body">

            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="panel panel-primary" th:if="${compte}">
            <div class="panel-heading">Operation sur le compte</div>
            <div class="panel-body">
                <form th:action="@{/saveOperation}" method="post">
                    <div>
                        <label>Compte:</label>
                        <input type="hidden" name="codeCompte" value="${codeCompte}"/>
                        <label th:text="${compte.codeCompte}"></label>
                    </div>
                    <div>
                        <label>Retrait</label>
                        <input type="radio" name="typeOperation" value="Ret"
                        onchange="document.getElementById('forVir').style.display='non'"/>
                        <label>Versement</label>
                        <input type="radio" name="typeOperation" value="Vers"
                               onchange="document.getElementById('forVir').style.display='non'"/>
                        <label>Virement</label>
                        <input type="radio" name="typeOperation" value="Vir"
                               onchange="document.getElementById('forVir').style.display='block'"/>
                    </div>
                  <div id="forVi" style="display:non">
                        <label>Vers</label>
                        <input type="text" name="codeCompte2"/>
                    </div>

                    <div>
                        <label>Montant</label>
                        <input type="text" name="montant"/>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">save</button>
                    </div>


                </form>
            </div>

        </div>
        <div class="panel panel-primary" th:if="${compte}">
            <div class="panel-heading">Liste des operations sur le compte</div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Numero operation</th>
                        <th>Type operation</th>
                        <th>Date operation</th>
                        <th>montant</th>
                    </tr>
                    </thead>
                    <tbody th:each="list :${listeOperation}">
                    <tr>
                        <td th:text="${list.numero}"></td>
                        <td th:text="${list.class.simpleName}"></td>
                        <td th:text="${list.dateOperation}"></td>
                        <td th:text="${list.montant}"></td>
                    </tr>


                    </tbody>

                </table>

            </div>

        </div>

    </div>

</div>

</body>
</html>